page-historico-clinico {
  .arredondar {
    border-radius: 10px;
    margin: 5px;
  }
  .arredondar1 {
    border-radius: 30px;
  }
  .ion-title {
    position: absolute;
    top: 0;
    padding: 0 35px 1px;
    height: 100%;
  }
}
