page-principal {
  .principal-icon {
    font-size: 5em;
  }

  .unidadedesaude {
    content: url(../../assets/icon/bot_localizador.png);
  }
  .arredondar {
    border-radius: 20px;
    background-color: #cadfe899;
    padding: 10px;
    margin: 1px;
  }
}
