page-principal {
  .principal-icon {
    font-size: 5em;
  }

  .unidadedesaude {
    content: url(../../assets/icon/bot_localizador.png);
  }
  .ion-title {
    position: absolute;
    top: 0;
    padding: 0 0 35px 0px;
    height: 100%;
    margin-top: -40px;
  }
 
}
