page-contatos {
  .nome {
    content: url(../../assets/icon/icone_nome.png);
    border-radius: 90px;
    width: 20px;
    height: 20px;
  }

  .call {
    content: url(../../assets/icon/icone_fone.png);
    border-radius: 40px;
    width: 10px;
    height: 10px;
  }
  .salvar {
    content: url(../../assets/icon/icone_salvar.png);
    border-radius: 40px;
    width: 20px;
    height: 20px;
  }

  .lixeira {
    content: url(../../assets/icon/icone_lixeira.png);
    border-radius: 90px;
    width: 25px;
    height: 25px;
  }
  .inputnome {
    border-radius: 40px;
  }
  .inputnumero {
    border-radius: 40px;
  }
  .boxbotao {
    border-radius: 40px;
  }
  .boxbotao1 {
    border-radius: 40px;
    width:80px;
  }
  .boxbotao2 {
    border-radius: 40px;
    width:98px;
  }
}
