page-contatos {
  .inputnome {
    border-radius: 20px;
    background-color: #5ea6e3;
  }
  .inputnumero {
    border-radius: 20px;
    background-color: #5ea6e3;
  }
  .inputnumero1 {
    border-radius: 10px;
    background-color: #5ea6e3;
    margin-top: 25px;

  }
  .boxbotao {
    border-radius: 40px;
    width:99px;
  }
  .boxbotao1 {
    border-radius: 40px;
    width:80px;
  }
  .boxbotao2 {
    border-radius: 40px;
    width:90px;
  }
  .ion-title {
    position: absolute;
    top: 0;
    padding: 0 35px 1px;
    height: 100%;
  }
}
