<ion-header>

  <ion-navbar color="primary">
      <img [src]="'assets/icon/icone_logo.png'" />
      <ion-title class="ion-title" >Identificar Sinais de Infarto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="white-space: normal">


  <form (ngSubmit)="onSubmit($event)">
    <h3 text-center ion-text >O que você está sentindo?</h3>


    <ion-item class="arredondar">
      <ion-label style="white-space: normal">Dor retroesternal ou precordial (Dor no peito)</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_dor_peito" [(ngModel)]="currentUser.sn_dor_peito" (click)="unchecked()"></ion-checkbox>
    </ion-item>
    <ion-item style="padding-left: 50px" *ngIf="currentUser.sn_dor_peito" class="arredondar">
      <ion-label style="white-space: normal">A dor é do tipo queimação</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_queima" [(ngModel)]="currentUser.sn_queima"></ion-checkbox>
    </ion-item>
    <ion-item style="padding-left: 50px" *ngIf="currentUser.sn_dor_peito" class="arredondar">
      <ion-label style="white-space: normal">A dor é em aperto</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_aperto" [(ngModel)]="currentUser.sn_aperto"></ion-checkbox>
    </ion-item>
    <ion-item style="padding-left: 50px" *ngIf="currentUser.sn_dor_peito" class="arredondar">
      <ion-label style="white-space: normal">A dor irradia</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_irradia" [(ngModel)]="currentUser.sn_irradia" (click)="uncheckedIrradia()"></ion-checkbox>
    </ion-item>
    <ion-item style="padding-left: 100px" *ngIf="currentUser.sn_irradia && currentUser.sn_dor_peito" class="arredondar">
      <ion-label style="white-space: normal">Para membros superiores</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_superiores" [(ngModel)]="currentUser.sn_superiores"></ion-checkbox>
    </ion-item>
    <ion-item style="padding-left: 100px" *ngIf="currentUser.sn_irradia && currentUser.sn_dor_peito" class="arredondar">
      <ion-label style="white-space: normal">Para pescoço</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_pescoco" [(ngModel)]="currentUser.sn_pescoco"></ion-checkbox>
    </ion-item>

    <ion-list radio-group name="qtdTempo" [(ngModel)]="currentUser.qtdTempo" *ngIf="currentUser.sn_superiores || currentUser.sn_pescoco">
      <h6 text-center ion-text color="danger">Há quanto tempo?</h6>
      <ion-item class="arredondar">
        <ion-label>Mais de 20 minutos</ion-label>
        <ion-radio value="mais" unchecked></ion-radio>
      </ion-item>
      <ion-item class="arredondar">
        <ion-label>Menos de 20 minutos</ion-label>
        <ion-radio value="menos"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item class="arredondar">
      <ion-label style="white-space: normal">Sudorese (suor aumentado)</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_sudorese" [(ngModel)]="currentUser.sn_sudorese"></ion-checkbox>
    </ion-item>

    <ion-item class="arredondar">
      <ion-label style="white-space: normal">Náusea (enjôo)</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_nausea" [(ngModel)]="currentUser.sn_nausea"></ion-checkbox>
    </ion-item>

    <ion-item class="arredondar">
      <ion-label style="white-space: normal">Vômito</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_vomito" [(ngModel)]="currentUser.sn_vomito"></ion-checkbox>
    </ion-item>

    <ion-item class="arredondar">
      <ion-label style="white-space: normal">Dispneia (dificuldade de respirar)</ion-label>
      <ion-checkbox color="primary" checked="false" name="sn_dispneia" [(ngModel)]="currentUser.sn_dispneia"></ion-checkbox>
    </ion-item>

    <br>
    <button ion-button full type="submit" color="secondary" class="arredondar">Resultado</button>

  </form>


</ion-content>
