page-sinais-infarto {
  .email {
    content: url(../../assets/icon/icone_email.png);
    border-radius: 40px;
    width: 20px;
    height: 20px;
  }
  .boxbuton{
    border-radius: 40px;
  }
  .inputemail{
    border-radius: 40px;
  }
  .nada{
    border-radius: 50px;
  }
  .arredondar{
    border-radius: 10px;
    margin: 5px;
  }
  .ion-title {
    position: absolute;
    top: 0;
    padding: 0 35px 1px;
    height: 100%;
  }
}
