page-signup {
    .auth-icon {
        font-size: 7.0em;
    }
    .nada{
      border-radius: 50px;
    }





    .inputemail {
      border-radius: 10px;
      background-color: #5ea6e3;
    }
    .inputsenha {
      border-radius: 10px;
      background-color: #5ea6e3;
    }

    .inputusername{
      border-radius: 10px;
      background-color: #5ea6e3;
    }
    .inputnome{
      border-radius: 10px;
      background-color: #4682b4;
    }
    .boxbuton{
      border-radius: 40px;
    }
    .wrapper-content {
      background: #6495ED;
      border-radius: 15px;
      padding: 10px;
    }
    .text-input::-webkit-input-placeholder {
      color: white;
    }

}
