user-menu {

  .perfil {
    content: url(../../assets/icon/icone_perfil.png);
    border-radius: 30px;
  }

  .infarto {
    content: url(../../assets/icon/icone_identificarsinais.png);

  }
  .historico {
    content: url(../../assets/icon/icone_historico.png);
    
  }
  .contatos {
    content: url(../../assets/icon/icone_fone.png);
    border-radius: 30px;
  }
  .saibamais {
    content: url(../../assets/icon/icone_saiba+.png);
    border-radius: 30px;
  }
  .sobre {
    content: url(../../assets/icon/icone_sobre.png);
    border-radius: 30px;
  }
  .sair {
    content: url(../../assets/icon/icone_sair1.png);
    border-radius: 30px;
  }

}
