<ion-content>

  <user-info [user]="currentUser" [isMenu]="true"></user-info>

  <ion-list no-lines>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onProfile()">
      Perfil
      <ion-icon name="person" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onSinaisInfarto()">
      Identificar Sinais de Infarto
      <ion-icon name="medkit" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onHistoricoClinico()">
      Histórico Clínico
      <ion-icon name="clipboard" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onChat()">
      Chat
      <ion-icon name="chatboxes" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onContatos()">
      Contatos
      <ion-icon name="contacts" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onSaibaMais()">
      Saiba mais
      <ion-icon name="contacts" color="primary" item-end></ion-icon>
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onLogout()">
      Sair
      <ion-icon name="log-out" color="primary" item-end></ion-icon>
    </button>
  </ion-list>

</ion-content>